@if(isValid() && !mangaReaderService.shouldSplit(currentImage, pageSplit)) {
  <div class="image-container {{imageFitClass$ | async}} {{emulateBookClass$ | async}}"
       [style.filter]="(darkness$ | async)  ?? '' | safeStyle" [style.height]="(imageContainerHeight$ | async)  ?? '' | safeStyle">
    @if(currentImage) {
      <img alt=" "
           #image
           [src]="currentImage.src"
           id="image-1"
           class="{{imageFitClass$ | async}} {{readerModeClass$ | async}} {{showClickOverlayClass$ | async}}" />
    }
    @if(currentOcr && renderedImage) {
      <div class="ocr"
        [style.left]="renderedImage.nativeElement.getBoundingClientRect().left + 'px'"
      >
        <div *ngFor="let block of currentOcr?.blocks" class="ocr-block"
             [class.ocr-vertical] = "block.vertical"
             [style.font-size]="block.font_size*ocrRatio*0.9 + 'px'"
             [style.left]="ocrRatio*block.box[0] + 'px'"
             [style.top]="ocrRatio*block.box[1] + 'px'"
        >
          <div *ngFor="let line of block.lines" class="ocr-line">
            {{ line }}
          </div>
        </div>
      </div>
    }
  </div>
}
