@use '../../../../manga-reader-common';

div.ocr {
  position: absolute;
  top: 0;

  div.ocr-block {
    position: absolute;
    color: #000000;
    font-size: 12px;

    &.ocr-vertical {
      writing-mode: vertical-rl;
    }

    p.ocr-line {
      visibility: hidden;
      margin: 0;
      white-space: nowrap;
      letter-spacing: 0.1em;
      line-height: 1.1em;
      text-align: left;
    }

    &:hover {
      background-color: #fff;

      p.ocr-line {
        background-color: #fff;
        display: table;
        visibility: visible;
      }
    }
  }
}
